<head>
    <title></title>
    <link rel="stylesheet" href="styles/kendo.common.min.css" />
    <link rel="stylesheet" href="styles/kendo.default.min.css" />
    <link rel="stylesheet" href="styles/kendo.default.mobile.min.css" />

    <script src="js/jquery.min.js"></script>


    <script src="js/kendo.all.min.js"></script>

</head>

<div class="k-content">
    <div id="validation-success"></div>
    @(Html.Kendo().Form<Telerik_SampleProject.Model.RegistrationModel>()
        .Name("Registration")
        .HtmlAttributes(new { action = @Url.Action("Index", "Registration"), method = "POST" })
        .Validatable(v =>
        {
            v.ValidateOnBlur(true);
            v.ValidationSummary(vs => vs.Enable(true));
        })
        .Items(items =>
        {
            items.AddGroup()
                .Label("Personal Information")
                .Layout("grid")
                .Items(i =>
                {
                    i.Add()
                         .Field(f => f.FirstName)
                         .Label(l => l.Text("First Name:"));
                    i.Add()
                        .Field(f => f.Name)
                        .Label(l => l.Text("Last Name:"));
                    i.Add()
                     .Field(f => f.Age)
                     .Label(l => l.Text("Age:"))
                     .Editor(e =>
                        {
                            e.NumericTextBox();
                        });
                    i.Add()
                       .Field(f => f.RegDate)
                       .Label(l => l.Text("DateTimePicker:").Optional(true))
                       .Editor(e => e.DateTimePicker()
                           .HtmlAttributes(new { style = "width: 100%", title = "datetimepicker" })
                           .DateInput()
                       );
                    i.Add()
                     .Field(f => f.CivilStatus)
                     .Label(l => l.Text("RadioGroup:"))
                     .Editor(e =>
                     {
                         e.RadioGroup()
                         .LabelPosition(RadioGroupLabelPosition.Before)
                         .Layout(RadioGroupLayout.Horizontal)
                         .Items(i =>
                         {
                             i.Add().Label("Yes").Value("True");
                             i.Add().Label("No").Value("False");
                         });
                     });
                    i.Add()
                     .Field(f => f.Langudage)
                     .Label(l => l.Text("CheckBoxGroup:"))
                     .Editor(e =>
                     {
                         e.CheckBoxGroup()
                         .LabelPosition(CheckBoxGroupLabelPosition.Before)
                         .Layout(CheckBoxGroupLayout.Horizontal)
                         .Items(item =>
                         {
                             item.Add().Label("English").Value("1");
                             item.Add().Label("Russian").Value("2");
                             item.Add().Label("Spanish").Value("3");
                         });
                     });
                    i.Add()
                       .Field(f => f.Subscription)
                       .Label(l => l.Text("Switch:"))

                       .Editor(e =>
                       {
                           e.Switch()
                               .Messages(c => c.Checked("YES").Unchecked("NO"));
                       }); ;
                });


        })
        .Events(ev => ev.ValidateField("onFormValidateField").Submit("onFormSubmit").Clear("onFormClear"))
    )
</div>

<script>
    function onFormValidateField(e) {
        $("#validation-success").html("");
    }

    function onFormSubmit(e) {
        $("#validation-success").html("");
    }

    function onFormClear(e) {
        $("#validation-success").html("");
    }

    var validationSummary = $("#validation-summary");

    $("Registration").submit(function (event) {

        if (validator.validate()) {
            validationSummary.html("<div class='k-messagebox k-messagebox-success'>Hooray! Your tickets has been booked!</div>");
        } else {
            validationSummary.html("<div class='k-messagebox k-messagebox-error'>Oops! There is invalid data in the form.</div>");
        }
    });

</script>